.green {
    height: 600px;
    width: 800px;
    background-color: #32ff7e;
}

.blue {
    position: absolute;
    height: 550px;
    width: 700px;
    background-color: #7efff5;
    margin-top: 25px;
    margin-left: 50px;
}

.pink {
    height: 500px;
    width: 600px;
    background-color: #ffcccc;
    margin-top: 25px;
    margin-left: 50px;  
}

.purple {
    position: absolute;
    height: 150px;
    width: 500px;
    background-color: #cd84f1;
    margin-top: 75px;
    margin-left: 50px;  
    margin-bottom: 50px;  
}

.purple:last-child {
    position: absolute;
    height: 150px;
    width: 500px;
    background-color: #cd84f1;
    margin-top: 300px;
    margin-left: 50px;  
    margin-bottom: 50px;  
}